.everything {
    display: flex;
    width: 1280px;
    height: 832px;
    padding: 20px;
    align-items: center;
    gap: 20px;

    
}

.MOREeverything {
    display:flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(67deg, #B9D2E9 0%, #FFEDED 99.58%);
}

.mainContainer {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
}






